# dependencies
node_modules

# builds
frontend/dist
frontend/build

# env & secrets
.env
.env.*
!.env.example

# uploads (user content)
uploads/*
!uploads/.gitkeep

# logs & misc
*.log
.DS_Store
notes.rtf
http
