main {
  min-height: 80vh;
}
/* PUTTING HERE FOR NOW....WRONG AS HELL BUT JUST NEEDS TWEAKED */
/* body {
  background-image: linear-gradient(to right bottom, rgba(243, 56, 56, 0.8), rgba(180, 7, 7, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  height: 95vh;
} */

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: rgb(124, 24, 24);
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
